# Виртуальное окружение
venv/
env/
ENV/
.venv/

# Файлы Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
*.pyc

# Файлы IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Системные файлы
Thumbs.db
.DS_Store

# Логи и временные файлы
*.log
*.tmp
*.bak
